Importes

In [1]:
import pandas as pd
from sklearn.compose import make_column_transformer# 1 vou importar uma funcao capaz de fazer algumas modificacoes hotEnconder (ele faz a transformacao de apenas uma coluna) ( make_column_transformer essa funcao e capaz de fazer diversas transformacoes na base de dados)
from sklearn.preprocessing import OneHotEncoder#ja realizamos a importacao das duas funcoes
from sklearn.preprocessing import LabelEncoder

Lendo o Arquivo

In [2]:
dados = pd.read_csv('/content/churnTransformacao.csv')

Printando meus dados da tabela

In [3]:
dados

,id_cliente,score_credito,pais,sexo_biologico,idade,anos_de_cliente,saldo,servicos_adquiridos,tem_cartao_credito,membro_ativo,salario_estimado,churn
0,15634602,619,França,Mulher,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Espanha,Mulher,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,França,Mulher,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,França,Mulher,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Espanha,Mulher,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,França,Homem,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,França,Homem,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,França,Mulher,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Alemanha,Homem,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,França,Mulher,28,4,130142.79,1,1,0,38190.78,0

Gerando informacoes completas da minha tabela

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_cliente           10000 non-null  int64
 1   score_credito        10000 non-null  int64
 2   pais                 10000 non-null  object
 3   sexo_biologico       10000 non-null  object
 4   idade                10000 non-null  int64
 5   anos_de_cliente      10000 non-null  int64
 6   saldo                10000 non-null  float64
 7   servicos_adquiridos  10000 non-null  int64
 8   tem_cartao_credito   10000 non-null  int64
 9   membro_ativo         10000 non-null  int64
 10  salario_estimado     10000 non-null  float64
 11  churn                10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

Removendo minha variavel alvo e salvando ela numa variavel y

In [5]:
x = dados.drop('churn', axis=1)# deletamos a variavel alvo utilizando o .drop
y = dados['churn']#criamos uma variavel para receber a variavel also independente

Printando a tabela sem a variavel alvo

In [6]:
x

,id_cliente,score_credito,pais,sexo_biologico,idade,anos_de_cliente,saldo,servicos_adquiridos,tem_cartao_credito,membro_ativo,salario_estimado
0,15634602,619,França,Mulher,42,2,0.00,1,1,1,101348.88
1,15647311,608,Espanha,Mulher,41,1,83807.86,1,0,1,112542.58
2,15619304,502,França,Mulher,42,8,159660.80,3,1,0,113931.57
3,15701354,699,França,Mulher,39,1,0.00,2,0,0,93826.63
4,15737888,850,Espanha,Mulher,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,França,Homem,39,5,0.00,2,1,0,96270.64
9996,15569892,516,França,Homem,35,10,57369.61,1,1,1,101699.77
9997,15584532,709,França,Mulher,36,7,0.00,1,0,1,42085.58
9998,15682355,772,Alemanha,Homem,42,3,75075.31,2,1,0,92888.52
9999,15628319,792,França,Mulher,28,4,130142.79,1,1,0,38190.78

Printando a variavel alvo sozinha

In [7]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: churn, Length: 10000, dtype: int64

In [8]:
colunas = x.columns

In [9]:
one_hot = make_column_transformer((
    OneHotEncoder(drop = 'if_binary'),
    ['pais']
),
    remainder = 'passthrough',
    sparse_threshold = 0)

In [10]:
x = one_hot.fit_transform(x)

Criado a lista com as novas variaveis modificadas

In [18]:
one_hot.get_feature_names_out(colunas)

array(['onehotencoder__pais_Alemanha', 'onehotencoder__pais_Espanha',
       'onehotencoder__pais_França', 'remainder__id_cliente',
       'remainder__score_credito', 'remainder__sexo_biologico',
       'remainder__idade', 'remainder__anos_de_cliente',
       'remainder__saldo', 'remainder__servicos_adquiridos',
       'remainder__tem_cartao_credito', 'remainder__membro_ativo',
       'remainder__salario_estimado'], dtype=object)

Printando a nova tabela transformado a mesma somente em numeros

In [11]:
pd.DataFrame(x, columns = one_hot.get_feature_names_out(colunas))

,onehotencoder__pais_Alemanha,onehotencoder__pais_Espanha,onehotencoder__pais_França,remainder__id_cliente,remainder__score_credito,remainder__sexo_biologico,remainder__idade,remainder__anos_de_cliente,remainder__saldo,remainder__servicos_adquiridos,remainder__tem_cartao_credito,remainder__membro_ativo,remainder__salario_estimado
0,0.0,0.0,1.0,15634602,619,Mulher,42,2,0.0,1,1,1,101348.88
1,0.0,1.0,0.0,15647311,608,Mulher,41,1,83807.86,1,0,1,112542.58
2,0.0,0.0,1.0,15619304,502,Mulher,42,8,159660.8,3,1,0,113931.57
3,0.0,0.0,1.0,15701354,699,Mulher,39,1,0.0,2,0,0,93826.63
4,0.0,1.0,0.0,15737888,850,Mulher,43,2,125510.82,1,1,1,79084.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,1.0,15606229,771,Homem,39,5,0.0,2,1,0,96270.64
9996,0.0,0.0,1.0,15569892,516,Homem,35,10,57369.61,1,1,1,101699.77
9997,0.0,0.0,1.0,15584532,709,Mulher,36,7,0.0,1,0,1,42085.58
9998,1.0,0.0,0.0,15682355,772,Homem,42,3,75075.31,2,1,0,92888.52
9999,0.0,0.0,1.0,15628319,792,Mulher,28,4,130142.79,1,1,0,38190.78

In [12]:
label_encoder = LabelEncoder()

In [13]:
y = label_encoder.fit_transform(y)

In [14]:
y

array([1, 0, 1, ..., 1, 1, 0])